# Simpson's Paradox
Use `admission_data.csv` for this exercise.

In [1]:
# Import pandas and numpy 
import pandas as pd
import numpy as np
# Load and view first few lines of dataset
df = pd.read_csv('admission_data.csv')
df.head(3)

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False

In [2]:
# Use describe (include = 'all') to get statistics for all columns including non-numeric oness
df.describe(include = 'all')

          student_id  gender    major admitted
count     500.000000     500      500      500
unique           NaN       2        2        2
top              NaN  female  Physics    False
freq             NaN     257      256      308
mean    41495.084000     NaN      NaN      NaN
std     10065.292424     NaN      NaN      NaN
min     24348.000000     NaN      NaN      NaN
25%     32429.750000     NaN      NaN      NaN
50%     41460.500000     NaN      NaN      NaN
75%     50687.750000     NaN      NaN      NaN
max     58298.000000     NaN      NaN      NaN

#### Proportion and Admission rate for each gender

Proportion for each gender

In [3]:
# Record total count for each gender
df['gender'].value_counts()

female    257
male      243
Name: gender, dtype: int64

In [4]:
# Identifying proportion for each gender seperatly
# Initializing dictionary  for gender
f_applied = 257
m_applied = 243 
total_applied = f_applied + m_applied
males_prop = (m_applied / total_applied) * 100
females_prop = (f_applied / total_applied) * 100
# printing results
print("Proportion of males : {}%, while Proportion of females : {}%".format(males_prop, females_prop))

Proportion of males : 48.6%, while Proportion of females : 51.4%

Admission rate for each gender

In [5]:
# Groupby ['admitted'] column to know total admitted students from each gender
adm_grp = df.groupby(['admitted'])

In [6]:
# Identify gender value counts within the admitted group 'adm_grp'
# Knowing that total admission for both genders are 500
adm_grp['gender'].value_counts()

admitted  gender
False     female    183
          male      125
True      male      118
          female     74
Name: gender, dtype: int64

In [7]:
f_admitted = 74
m_admitted = 118
total_admitted = f_admitted + m_admitted

In [8]:
female_admission_rate =  (f_admitted / f_applied) * 100
male_admission_rate =  (m_admitted / m_applied) * 100

In [9]:
print('Female Admission rate is {}, while Male admission rate is {}.'.format(female_admission_rate, male_admission_rate))

Female Admission rate is 28.793774319066145, while Male admission rate is 48.559670781893004.

### Proportion and admission rate for physics majors of each gender

#### Proportion for each gender in the physics major

In [10]:
# What proportion of female students are majoring in physics?

# given that a student is female, what is the probability they major in physics 
# that is the proportion of females and physics majors divided by the proportion of females
# since the denominators are the same, we can just get counts of each and take the ratio

df.query('gender == "female" and major == "Physics"').count()[0]/len(df[df['gender'] == 'female'])

0.12062256809338522

In [11]:
# What proportion of male students are majoring in physics?

df.query('gender == "male" and major == "Physics"').count()[0]/len(df[df['gender'] == 'male']) # many more males apply

0.92592592592592593

In [12]:
# Admission rate for female physics majors

# That is what proportion of females who apply in physics are admitted
f_adm_phys = df.query('gender == "female" and major == "Physics" and admitted == True').count()[0]
f_phys = df.query('gender == "female" and major == "Physics"').count()[0]

f_adm_phys/f_phys

0.74193548387096775

In [13]:
# Admission rate for male physics majors

# That is what proportion of males who apply in physics are admitted 
m_adm_phys = df.query('gender == "male" and major == "Physics" and admitted == True').count()[0]
m_phys = df.query('gender == "male" and major == "Physics"').count()[0]

m_adm_phys/m_phys #female admissions in physics are higher

0.51555555555555554

### Proportion and admission rate for chemistry majors of each gender

In [14]:
# What proportion of female students are majoring in chemistry?
df.query('gender == "female" and major == "Chemistry"').count()[0]/len(df[df['gender'] == 'female'])

0.87937743190661477

In [15]:
# What proportion of male students are majoring in chemistry?
df.query('gender == "male" and major == "Chemistry"').count()[0]/len(df[df['gender'] == 'male']) #many fewer males

0.07407407407407407

In [16]:
# Admission rate for female chemistry majors
f_adm_chem = df.query('gender == "female" and major == "Chemistry" and admitted == True').count()[0]
f_chem = df.query('gender == "female" and major == "Chemistry"').count()[0]

f_adm_chem/f_chem

0.22566371681415928

In [17]:
# Admission rate for male chemistry majors
m_adm_chem = df.query('gender == "male" and major == "Chemistry" and admitted == True').count()[0]
m_chem = df.query('gender == "male" and major == "Chemistry"').count()[0]

m_adm_chem/m_chem #fewer males are admitted into chemistry as well as physics

0.1111111111111111

### Admission rate for each major

In [19]:
# Admission rate for physics majors
df[df['major'] == "Physics"]['admitted'].mean()

0.54296875

In [20]:
# Admission rate for chemistry majors
df[df['major'] == "Chemistry"]['admitted'].mean()

0.21721311475409835

From all the above, its clear that, inspite of having a lower admissions rate, Many more females applied to chemistry. 
Therefore, they had an overall lower admission rate. 
Though females had higher admission rates conditionally in both physics and chemistry. This is known as **Simpson's Paradox**.